* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  height: 100vh;
}

nav {
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10000000;
}

.nav-list {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
}

.nav-item {
  margin-right: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-item a {
  color: #000000;
  letter-spacing: 0.5px;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav.fixed {
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 10000000;
}

.conteneur {
  background-image: url("img/internet.jpg");
  background-size: cover;
  background-repeat: repeat;

  color: #ffffff;
  width: cover;
  height: 500px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

#intro {
  font-size: 50px;
  font-family: "Shadows Into Light", cursive;
  color: rgb(0, 119, 255);
  animation-delay: 0.2s;
}

#intro2 {
  font-size: 500%;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(255, 255, 255);
}

#intro3 {
  visibility: visible;
  animation-delay: 0.6s;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
  font-family: "Shadows Into Light", cursive;
  animation-name: fadeInUp;
}

#lk {
  font-size: 300%;
  color: rgb(0, 119, 255);
}

.presentation {
}

.frame {
  width: 35%;
  border: 10px solid #ccc;
  background: #eee;
  margin: auto;
  padding: 10px 10px;
}

img {
  width: 400px;
  height: 550px;
}

.container {
  display: flex;
}

.half {
  flex: 1; /* Chaque moitié prendra 50% de la largeur */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border: 0.5px solid #ccc;*/ /* Bordure pour mieux visualiser les deux parties */
  padding: 30px; /* Espace intérieur pour séparer le contenu du bord */
}

.half img {
  border: 2px solid #000; /* Cadre autour de l'image */
  padding: 10px; /* Espace entre le cadre et l'image */
}

.half p {
  margin-top: 10px; /* Espacement entre l'image et le texte */
}

.hh1 {
  color: grey;
  font-size: 35px;
}

.cont p {
  padding-bottom: 5px; /* Ajouter un espacement de 10 pixels à l'intérieur des paragraphes */
}
.cont a {
  display: inline; /* Les liens seront alignés horizontalement */
  margin-right: 10px; /* Ajouter un espacement de 10 pixels entre les liens */
}
.button-container {
  display: flex;
  align-items: center;
}

.download-button {
  font-size: 12px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.red-button {
  font-size: 12px;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px; /* Espacement entre les deux boutons */
}

.red-button:hover {
  background-color: #b30000;
}

/*CURSUS*/
.timeline {
  position: relative;
}

.event {
  position: relative;
  margin-bottom: 40px;
}

.circle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  background-color: #007bff;
  border-radius: 50%;
  z-index: 1;
}

.conten {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

h3 {
  margin-top: 0;
  font-size: 18px;
  color: #007bff;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  /*background-color: #007bff;*/
}

.event:last-child .conten {
  margin-bottom: 0;
}

:root {
  --primary-color: #212121;
  --background-color: #111;
  --font: sans-serif;
}

.cursus {
  margin: 0;
  padding: 0;
}

.cursus {
  background: var(--background-color);
  font-family: var(--font);
  display: flex;
  justify-content: center;
}

/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid orangered;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: orangered;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid orangered;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

.titlecursus {
  background: var(--background-color);
  font-family: "Playfair Display", serif;
  color: #ffffff;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
